@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: c;
    src: url("./Fonts/tahoma.ttf");
}
.Navbar {
    @apply w-full flex justify-between px-20 py-3 items-center;    
    font-family: salam;
}
.Left-Nav , .Right-Nav{
    @apply w-1/2 p-[5px] px-[15px]
}

.Nav-List{
    @apply w-full flex flex-row-reverse justify-between
}
.Nav-Item {

}
.Right-Nav {
 @apply flex justify-end
}
.Nav-Logo {

}
